.table {
  border: 1px solid var(--q-table-border) !important;
  font-family: "Lato", sans-serif;
  border-radius: 8px;
  display: block;
}

.q-table__container .q-table__middle table thead tr th {
  line-height: 15.6px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 700 !important;
  color: var(-q--text-heading);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.q-table__container .q-table__middle table tbody tr td{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  line-height: 14.4px;
  color: var(-q--text-heading);
}

.q-checkbox .q-checkbox__inner--truthy .q-checkbox__bg {
  background: var(--q-text-active);
}
.q-checkbox .q-checkbox__inner--falsy .q-checkbox__bg {
  background: var(--q-white);
}
.q-checkbox .q-checkbox__inner--truthy {
  color: var(--q-text-active);
}
